///////////////////// VARIABLES /////////////////////////////
// color scheme from Catpuccin (https://github.com/catppuccin/catppuccin)
$base-color: #1e1e2e;
$light-base-color: #313244;
$background: #11111b;
$primary-color: #89b4fa;
$secondary-color: #f5c2e7;
$extra-color1: #f38ba8;
$extra-color2: #a6e3a1;
$extra-color3: #cba6f7;
$border-color: #f9e2af;
$link-color: #94e2d5;

// fonts
$base-font-size: 20px;
$base-font: "Raleway", sans-serif; // available from Google Fonts
$title-font: "Arial";
$content-font-size: 16px;

// sizing
$breakpoint-laptop: 50rem;
$breakpoint-desktop: 80rem;
$nav-width-desktop: 24rem;
$nav-width-laptop: 10rem;
$pgPaddingSmall: 1rem;
$pgPaddingMedium: 3rem;
$logo-size: 8em;

// misc
$animation-duration: 600ms;

// Reusable segments
@mixin banish-margin {
  margin: 0px;
  padding: 0px;
}

@mixin flexbox-even {
  display: flex;
  justify-content: space-around;
}

@mixin standard-border {
  border: 0.1rem solid $border-color;
  border-radius: 0.4rem;
}

////////////////////////////////// TAGS ////////////////////////////////////////

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $light-base-color;
  width: 100%;
  min-height: 20rem;
  font-size: 150%;

  h1 {
    color: $extra-color2;
    font-size: 120%;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  p {
    color: $extra-color3;
  }
}

body {
  @include banish-margin;

  background-color: $background;
  font-size: $base-font-size;
  font-family: $base-font;
  color: $primary-color;

  width: 100vw;
  overflow-x: hidden;
}

main {
  width: 100%;
  margin: auto;
  margin-top: $pgPaddingMedium;
  background: $base-color;
}

// the mobile footer needs items stacked
footer {
  @include banish-margin;
  @include flexbox-even;

  flex-direction: column;

  p {
    padding: 0px 1rem;
  }
}

@media (min-width: $breakpoint-laptop) {
  footer {
    @include banish-margin;
    @include flexbox-even;

    flex-direction: row;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: $title-font;
  color: $secondary-color;
}

a {
  text-decoration: none;
  color: $link-color;

  &:hover {
    text-decoration: underline;
  }
}

article {
  font-size: $content-font-size;
  padding: $pgPaddingSmall;

  h3,
  h4 {
    font-size: 130%;
  }

  ul {
    width: 90%;
    margin: auto;
  }
}

// Responsive Header

nav {
  background: $base-color;
}

// Base (mobile)
.mobile-nav-inner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 3rem;
  border-bottom: 0.2rem solid $border-color;
  background: $base-color;

  // display gets changed back to flex by the mobile-menu.js script
  display: none;
  justify-items: center;

  a {
    margin: auto;
  }
}
.laptop-nav {
  display: none;
}
.desktop-nav {
  display: none;
}

// Laptop
@media (min-width: $breakpoint-laptop) {
  // the header looks better with this font size,
  // but it is too big for mobile.
  header > h1 {
    font-size: 180%;
  }
  main {
    width: 90%;
  }
  .mobile-nav {
    display: none;
  }
  .desktop-nav {
    display: none;
  }
  .laptop-nav {
    display: inherit;

    @include standard-border();

    // menu sizing
    min-width: $nav-width-laptop;
    min-height: $nav-width-laptop;
    padding: $pgPaddingSmall;
    margin: $pgPaddingSmall;

    // menu position
    position: fixed;
    top: 0;
    right: 0;

    // menu text props
    opacity: 0.4;
    &:hover {
      opacity: 1;
    }
    ul {
      list-style-type: none;
    }
    li {
      padding: 0.5em 0;
    }
  }
}

// Desktop
@media (min-width: $breakpoint-desktop) {
  .mobile-nav {
    display: none;
  }
  .laptop-nav {
    display: none;
  }
  .desktop-nav {
    display: inherit;
    width: $nav-width-desktop;

    padding: $pgPaddingSmall;
    display: flex;
    flex-direction: column;

    ul {
      list-style-type: none;
    }

    li {
      padding: 0.8rem 0px;
    }
  }
  .desktop-nav-inner {
    width: $nav-width-desktop;
    position: fixed;
  }
  body {
    display: flex;
  }
}

/////////////////////////// CLASSES ////////////////////////////////

.title-animate-left {
  animation-name: in-left;
  animation-duration: $animation-duration;
}

.title-animate-right {
  animation-name: in-right;
  animation-duration: $animation-duration;
}

@keyframes in-left {
  from {
    margin-left: -100vw;
  }
  to {
    margin-left: 0px;
  }
}

@keyframes in-right {
  from {
    margin-right: -100vw;
  }
  to {
    margin-right: 0px;
  }
}

.indexed-header {
  width: 95%;
  margin: auto;
  padding: $pgPaddingSmall;
  margin-bottom: $pgPaddingSmall;

  font-size: 180%;
  border-bottom: 0.1rem solid $border-color;
}

.experience-item {
  padding-bottom: $pgPaddingSmall;
}

.item-title {
  @include banish-margin();

  display: flex;
  justify-content: space-between;
  align-items: center;

  aside {
    padding: 0px 4rem;
    color: $extra-color1;
  }
}

.item-caption {
  margin-left: 3%;
  font-style: italic;
}

.item-list {
  li {
    padding: 0.2em 0px;
  }
}

.skill-block-list {
  display: flex;
  flex-wrap: wrap;
  gap: $pgPaddingSmall;
  justify-content: space-around;
}

.skill-block-root {
  @include standard-border();

  height: 100%;
  width: 31rem;
  display: flex;
  gap: 1rem;

  h5 {
    @include banish-margin();
    font-size: 120%;
    color: $extra-color2;
  }
  ul {
    @include banish-margin();
    padding: 0.25rem 0.25rem;
  }
}

.skill-block-logo {
  width: $logo-size;
  height: $logo-size;
}

////////////////////////// IDs ///////////////////////////
#body-inner {
  width: 100%;
}

#top-summary {
  font-size: 70%;
  width: 80%;
  margin: auto;
}
