/*
  ***** Palette  *****

  Created with Coolors based on the index header image

  Background: #eeedec
  Accent background: ##B5ACA1
  highlight 1: #D21312
  highlight 2: #ED2B2A
  hightlight 3: #F15A59
  text: #B5ACA1
*/

/***** Tags *****/

body {
  /* Sensible defaults */
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  overflow-x: none;
  font-size: 12px;

  /* bg */
  background: #eeedec;

  /* Text */
  /* Font is taken from Google Fonts */
  font-family: "Roboto", sans-serif;
  color: #656260;
}

h1 {
  font-size: 40px;
  font-weight: bolder;
}

h2 {
  font-size: 32px;
  font-weight: bolder;
}

h3 {
  font-size: 24px;
  font-weight: bolder;
}

header a {
  font-size: 200%;
}

header {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  background: #b5aca1;
  color: #2f47df;
}

header h1 {
  padding: 0.5rem;
  font-family: "Black Ops One", cursive;
  padding: 0.5rem;
  margin: 0rem;
  padding-left: 1rem;
  font-size: 300%;
}

header a {
  width: 3em;
  font-size: 200%;
}

header a:hover {
  font-weight: bolder;
}

footer {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: #b5aca1;
  font-size: 24px;
}

figure {
  background: #656260;
  min-height: 20rem;
}

figure img {
  width: 100%;
}

figure figcaption {
  padding: 1rem;
  margin-bottom: 2rem;
  color: #EEEDEC;
  font-size: 110%;
}

p {
  font-size: 150%;
}

/***** Classes *****/

.hideme {
  display: none !important;
}

.narrow-content {
  width: 70%;
  margin: auto;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 200%;
}

.big-figure {
  width: 60%;
  margin: auto;
}

.header-div-big {
  width: 1px;
  height: 3rem;
  border-right: 0.3rem solid #656260;
}

.header-div-small {
  width: 1px;
  height: 2rem;
  border-right: 0.1rem solid #656260;
}

/*
 Styles for the collapsible sections
*/
.collapsible {
  border: 0.1rem solid #656260;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.collapsible div:first-child {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 0.1rem solid #656260;
}

.collapsible button {
  margin: 0.2rem;
  font-size: 100%;

  color: #1b1616;
  background-color: #9e9e9e;

  border: 0.2rem solid #656260;
  border-radius: 0.4rem;
}

.collapsible button:hover {
  background-color: #777777;
}

.collapsible button:focus {
  background-color: #7c7c7c;
}

.gen-article {
  padding: 0rem 4rem;
}

.gen-article a {
  font-size: 200%;
}

.split-article {
  width: 100%;
  display: flex;
  padding: 1rem;
}

.split-article aside {
  width: 50%;
  height: auto;
}

.split-article p {
  padding: 2rem;
  width: 50%;
}

.diagram-poi {
  position: absolute;
  background: rgba(255, 0, 0, 0.5);
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.diagram-poi:hover {
  border: 6px solid blue;
}

/***** IDs *****/

/* Stuff on the index */
/*
Inspiration for the article on top of the header image from
https://stackoverflow.com/questions/21055105/how-to-position-image-caption-over-and-within-a-responsive-image
*/
#index-intro {
  width: 100%;
  display: inline-block;
  position: relative;
}

#index-intro img {
  width: 100%;
  height: auto;
}

#index-intro article {
  position: absolute;
  width: 50%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  color: rgb(242, 242, 242);
  background-color: #656565b7;
}

/* Station map / diagram */
#diagram-page-main {
  display: flex;
  flex-direction: column;
}

#diagram-root {
  position: relative;
  overflow: hidden;
  z-index: 0;
  max-height: 80vh;
}

/* From https://cssdeck.com/blog/zoom-images-inside-the-container-on-mouse-over-using-css/ */
#diagram-zoom {
  position: relative;
  transform-origin: 0 0;
  width: 100%;
  top: 0px;
  left: 0px;
}

#diagram-controls {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#diagram-poi-info {
  position: fixed;
  top: 10vh;
  left: 5vw;
  width: 85vw;
  background-color: #EEEDEC;
  padding: 2rem;
  display: flex;
  gap: 1rem;
  border: 5px solid #898A8B;
  border-radius: 1em;
}

#diagram-poi-image-holder {
  flex: 1;
  align-self: center;
}

#diagram-poi-image {
  width: 100%;
  height: auto;
}

#diagram-poi-info article {
  flex: 1;
}

#diagram-poi-info button {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 5px;
}
